<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/src/styles/quotes.css" />
    <link rel="stylesheet" href="/src/styles/addQuoteModal.css" />
    <link rel="stylesheet" href="/src/styles/quoteOptionModal.css" />
    <link rel="stylesheet" href="/src/styles/userProfile.css" />
    <link rel="stylesheet" href="/src/styles/editProfile.css" />
  </head>

  <body>
    <header class="mobile-header">
      <div class="">
        <a href="/">
          <img
            src="../../public/quotes-light.png"
            alt="Quotes Logo"
            width="140"
            height="40"
        /></a>
      </div>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2rem;
        "
      >
        <form>
          <input
            type="text"
            name="search"
            placeholder="Search"
            style="
              padding: 0.4rem;
              background-color: rgba(184, 184, 184, 0.3);
              border: none;
              border-radius: 5px;
            "
          />
        </form>
        <img class="option-icon" src="../../public/bell.png" />
      </div>
    </header>

    <aside class="sidebar">
      <div class="logos">
        <a href="/">
          <img
            id="icon"
            src="../../public/icon-dark.png"
            width="50"
            height="50"
            alt="Quote Icon"
          />
        </a>
        <a href="/">
          <img
            src="../../public/quotes-light.png"
            alt="Quotes Logo"
            width="140"
            height="40"
        /></a>
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="/home"
              ><img src="../../public/home.png" />
              <p>Home</p></a
            >
          </li>
          <li>
            <a id="search" href="/search"
              ><img src="../../public/search .png" />
              <p>Search</p></a
            >
          </li>
          <li>
            <a href="exprore"
              ><img src="../../public/navigation.png" />
              <p>Explore</p></a
            >
          </li>
          <li>
            <a href="message">
              <img src="../../public/message.png" />
              <p>Message</p></a
            >
          </li>
          <li>
            <a href="notification">
              <img src="../../public/bell.png" />
              <p>Notification</p></a
            >
          </li>
          <li>
            <a id="create">
              <img src="../../public/adding.png" />
              <p>Create</p></a
            >
          </li>
          <li class="<%= activePage==='profile' && 'active-link' %>">
            <a href="/<%= currentUser.userName %>">
              <img src="../../public/profile.png" />
              <p>Profile</p></a
            >
          </li>
          <li>
            <a href="more">
              <img src="../../public/menu.png" />
              <p>More</p></a
            >
          </li>
        </ul>
      </div>
    </aside>

    <article class="content">
      <div class="wrapper">
        <h1>Edit Profile</h1>
        <form action="/<%= currentUser.userName %>/edit" method="POST">
          <div class="form-box">
            <label>Profile Image</label>
            <% if(currentUser.imageUrl){ %>
            <img src="<%= currentUser.imageUrl %>" alt="Profile Image" />
            <% } else{ %>
            <img src="../../public/profile.png" alt="Profile Image" />
            <% } %>
          </div>
          <div class="form-box">
            <label for="imageUrl">Profile Image Url</label>
            <input
              type="text"
              name="imageUrl"
              id="imageUrl"
              value="<%= currentUser.imageUrl %>"
            />
          </div>
          <div class="form-box">
            <label for="link">Link</label>
            <input
              type="text"
              name="link"
              id="link"
              value="<%= currentUser.link %>"
            />
          </div>
          <div class="form-box">
            <label for="userName">Username</label>
            <input
              type="text"
              name="userName"
              id="userName"
              value="<%= currentUser.userName %>"
            />
          </div>
          <div class="form-box">
            <label for="fullName">FullName</label>
            <input
              type="text"
              name="fullName"
              id="fullName"
              value="<%= currentUser.fullName %>"
            />
          </div>
          <div class="form-box">
            <label for="bio">Bio</label>
            <textarea name="bio" id="bio" rows="4">
<%= currentUser.bio %></textarea
            >
          </div>
          <div class="form-box">
            <label for="email">E-mail</label>
            <input
              type="text"
              name="email"
              id="email"
              value="<%= currentUser.email %>"
            />
          </div>
          <hr style="margin-top: 1rem; margin-bottom: 1rem" />
          <div class="form-box">
            <label for="password">Current Password</label>
            <input type="password" name="password" id="password" />
          </div>
          <div class="form-box">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword" />
          </div>
          <div class="form-box">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
            />
          </div>
          <div class="form-box">
            <button>Submit</button>
          </div>
        </form>
      </div>
    </article>

    <aside class="suggested">
      <div class="my-profile">
        <a href="/<%= currentUser.userName %>">
          <% if(currentUser.imageUrl===""){ %>
          <img class="profile-image" src="../../public/profile.png" />
          <% }else{ %>
          <img class="profile-image" src="<%= currentUser.imageUrl %>" />
          <% } %>
          <div>
            <p class="user-name"><%= currentUser.userName %></p>
            <p><%= currentUser.fullName %></p>
          </div>
        </a>
        <a class="log-out" href="/logout">Log out</a>
      </div>
      <div class="suggested-users">
        <% if( suggestedUsers.length>0){ %>
        <ul>
          <% suggestedUsers.forEach(suggestedUser=>{ %>
          <li>
            <a href="/<%= suggestedUser.userName %>">
              <% if(suggestedUser.imageUrl===""){ %>
              <img class="profile-image" src="../../public/profile.png" />
              <% }else{ %>
              <img class="profile-image" src="<%= suggestedUser.imageUrl %>" />
              <% } %>
              <div>
                <p class="user-name"><%= suggestedUser.userName %></p>
                <p><%= suggestedUser.fullName %></p>
              </div>
              <% let isFollowing =
              followings.some((followingUser)=>followingUser.followingId===suggestedUser.id);
              %>
            </a>
            <p
              type="button"
              onclick="follow('<%= suggestedUser.id %>')"
              class="log-out"
            >
              <%= isFollowing ? "Following" : "Follow" %>
            </p>
          </li>
          <% }) %>
        </ul>
        <% } %>
      </div>
    </aside>

    <nav class="mobile-nav">
      <a href="/home"><img class="icon" src="../../public/home.png" /> </a>
      <a href="message">
        <img class="icon" src="../../public/message.png" />
      </a>
      <a id="create">
        <img class="icon" src="../../public/adding.png" />
      </a>
      <a href="/<%= currentUser.userName %>">
        <img class="icon" src="../../public/profile.png" />
      </a>
      <a href="more">
        <img class="icon" src="../../public/menu.png" />
      </a>
    </nav>

    <%- include('./addQuoteModal.ejs') %> <%- include('./quoteOptionModal.ejs')
    %>

    <script src="/src/index.js"></script>
    <script src="/src/services/servicesApi.js"></script>
  </body>
</html>
